h1 {
    color: #a86c27;
}

h2 {
    color: #a86c27;
}

section {
    background: #cabfb8;
}

body {
    margin: 0 auto;
    width: 100vw;
}

header {
    margin: 0 auto;
    max-width: 1440px;
}

main {
    margin: 20px auto;
    max-width: 1440px;
}

footer {
    margin: 0 auto;
    max-width: 1440px;
}