

.title {
    color: #A63D40;
}

#top .menu {
    color: #6494AA;
}

p {
    color: #6494AA;
}

body {
   color: #0F0E0E;
}

 section .chapterTitle {
    color: #90A959;
}

.week {
    color: #E9B872;
}

.diary {
    color: #6494AA;
}

footer {
    color: #999999;
}